
{% extends 'base.html' %}
  {% load static %}
  {% load widget_tweaks %}

  {% block title %}Alaia | Login{% endblock %}
{% block content %}
<body class="h-screen bg-no-repeat bg-cover bg-top" style="background-image: url('{% static "images\backgrounds\loginbg.webp" %}');">

  
<h1 class="flex flex-wrap gap-2 space-y-4 space-x-24 mt-48 grid text-white text-5xl font-bold ml-12">DAZZLE IN</h1>

<form class="flex flex-wrap gap-2 space-y-4 space-x-12 mt-8" method="POST" novalidate>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == "success" %}
  <div class=" w-1/4 ml-12 p-4  text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    {{message}}
  </div> 
  {% else %}
  <div class="w-1/4 ml-12 p-4  text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <strong>Error! </strong>{{message}}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
      {% csrf_token %}
<div class="w-3/4 text-white">
  {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}" class="block font-medium mb-2 text-white">Email:</label>
          {% render_field form.email class="w-2/5 border p-2 rounded border border-purple-500 bg-purple-100  focus:outline-none focus:border-purple-500 " placeholder="Enter your Email" %}
      </div>
      
     <div class="w-3/4">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}" class="block font-medium mb-2 text-white">Password:</label>
        {% render_field form.password class="w-2/5 border p-2 rounded border border-purple-500 bg-purple-100  focus:outline-none focus:border-purple-500" placeholder="Enter your Password"  %}
    </div>  

    <div class="w-1/2 flex flex-wrap mr-72">
      <p class="w-full text-white">Don't Have an account? <a class="text-white text-bold " href="{% url 'signup_view' %}">Sign Up</a></p>
      <p> <a class="text-white text-bold " href="{% url 'forgot_password' %}">Forgot Password? </a></p>
    </div>
   

    <div class="w-1/2 flex justify-center">
     
      <input type="submit" name="password_login" value="Sign In With Password" class="w-1/4  mr-72 bg-purple-500 hover:bg-purple-600 text-white p-4 rounded ">
  </div>  
    <div class="w-1/2 flex justify-center">
      <input type="submit" name = "otp_login" value="Sign In With OTP" class="w-1/4 mr-72 bg-purple-500 hover:bg-purple-600 text-white p-4 rounded">
  </div> 

     
    
  </form>
 
{% endblock content %}
